.popupWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.popupWrap > .popupContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.popupContainer > .popupInner {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  width: 50%;
  max-width: 600px;
  min-width: 514px;
  min-height: 422px;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.popupInner > article {
  background: #fc6c85;
  padding: 0.5rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}
.popupInner > article > img {
  width: 0.8rem;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.9rem;
}
.inputForm {
  padding: 1rem;
}
.inputForm > section {
  display: flex;
  margin-bottom: 0.5rem;
}
.inputForm > section:last-child {
  margin: 0;
}
.inputForm > section > label {
  margin-right: 1rem;
  width: 15%;
  font-size: 1rem;
  color: #212121;
}
.inputForm > section > input {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 0.5rem;
  width: 85%;
  max-height: 10px;
}
.inputForm > section > textarea {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 0.5rem;
  width: 85%;
  resize: none;
}
.popupBtnWrap {
  padding: 0 1rem 1rem 1rem;
  display: flex;
}
.popupBtnWrap > button {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}
.btndefault {
  background: #fc6c85;
  color: #fff;
}
