.calenderTable{
    width: 100%;
    border-collapse:collapse;
    table-layout: fixed;
}
.calenderTable tr:first-child{
    height: 50px;
}
.calenderTable tr{
    height: 17vh;
    border-bottom: 1px solid #dfdfdf; 
}
.calenderTable td{
    border-right: 1px solid #dfdfdf;
    padding: 1rem;
    max-width: 17%;
    vertical-align: top;
}
.calenderTable th {
    color: #212121;
    font-weight: bold;
    text-align: left;
    background-color: #ececec;
    padding: 1rem;
}
.calenderTable th:first-child
{
    color: red;
}
.calenderTable td:first-child
{
    color: red;
}
.calenderTable th:last-child
{
    color: blue;
}
.calenderTable td:last-child
{
    color: blue;
    border: 0;
}
.today{
    background-color: rgba(252, 108, 133, 0.4);
    font-weight: bold;
}
.weeklyTable{
    width: 100%;
    border-collapse:collapse;
    table-layout: fixed;
}
.weeklyTable tr:first-child{
    height: 50px;
}
.weeklyTable tr{
    border-bottom: 1px solid #dfdfdf; 
}
.weeklyTable td{
    border-right: 1px solid #dfdfdf;
    padding: 1rem;
    max-width: 17%;
    vertical-align: top;
}
.weeklyTable th {
    color: #212121;
    font-weight: bold;
    text-align: left;
    background-color: #ececec;
    padding: 1rem;
}
.weeklyTable th:nth-child(2)
{
    color: red;
}
.weeklyTable th:last-child
{
    color: blue;
}
.dailyTable td:first-child{
    width: 10%;
}